[{:db/id #db/id [:db.part/db]
  :db/ident :onyx/log
  :db.install/_partition :db.part/db}
 
 {:db/id #db/id [:db.part/db]
  :db/ident :peer/place
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity
  :db.install/_attribute :db.part/db}
 
 {:db/id #db/id [:db.part/db]
  :db/ident :peer/status
  :db/valueType :db.type/keyword
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}]

