{:env {:zookeeper {:zookeeper/server? true
                   :zookeeper/address "127.0.0.1:2185"
                   :zookeeper.server/port 2185
                   :zookeeper/port 2185}
       :hornetq {:hornetq/mode :udp
                 :hornetq/server? true
                 :hornetq.server/type :embedded
                 :hornetq.udp/cluster-name "onyx-cluster"
                 :hornetq.udp/group-address "231.7.7.7"
                 :hornetq.udp/group-port 9876
                 :hornetq.udp/refresh-timeout 5000
                 :hornetq.udp/discovery-timeout 5000
                 :hornetq.embedded/config ["hornetq/clustered-1.xml"
                                           "hornetq/clustered-2.xml"
                                           "hornetq/clustered-3.xml"
                                           "hornetq/non-clustered-1.xml"]}
       :logging {}}
 :peer {:zookeeper {:zookeeper/address "127.0.0.1:2185"
                    :zookeeper/port 2185}
        :hornetq {:hornetq/mode :udp
                  :hornetq.udp/cluster-name "onyx-cluster"
                  :hornetq.udp/group-address "231.7.7.7"
                  :hornetq.udp/group-port 9876
                  :hornetq.udp/refresh-timeout 5000
                  :hornetq.udp/discovery-timeout 5000}
        :logging {}}}

