{:model
 [[{:db/id #db/id [:db.part/db]
    :db/ident :model.type/fixed-cluster}

   {:db/id #db/id [:db.part/db]
    :db/ident :model.type/linear-cluster}

   {:db/id #db/id [:db.part/db]
    :db/ident :model.type/sine-cluster}
     
   {:db/id #db/id [:db.part/db]
    :db/ident :model/n-peers
    :db/valueType :db.type/long
    :db/cardinality :db.cardinality/one
    :db.install/_attribute :db.part/db}

   {:db/id #db/id [:db.part/db]
    :db/ident :model/peek-peers
    :db/valueType :db.type/long
    :db/cardinality :db.cardinality/one
    :db.install/_attribute :db.part/db}

   {:db/id #db/id [:db.part/db]
    :db/ident :model/peer-rate
    :db/valueType :db.type/long
    :db/cardinality :db.cardinality/one
    :db.install/_attribute :db.part/db}

   {:db/id #db/id [:db.part/db]
    :db/ident :model/silence-gap
    :db/valueType :db.type/long
    :db/cardinality :db.cardinality/one
    :db.install/_attribute :db.part/db}

   {:db/id #db/id [:db.part/db]
    :db/ident :model/mean-ack-time
    :db/valueType :db.type/long
    :db/cardinality :db.cardinality/one
    :db.install/_attribute :db.part/db}
   
   {:db/id #db/id [:db.part/db]
    :db/ident :model/mean-completion-time
    :db/valueType :db.type/long
    :db/cardinality :db.cardinality/one
    :db.install/_attribute :db.part/db}

   {:db/id #db/id [:db.part/db]
    :db/ident :model/sine-length
    :db/valueType :db.type/long
    :db/cardinality :db.cardinality/one
    :db.install/_attribute :db.part/db}

   {:db/id #db/id [:db.part/db]
    :db/ident :model/sine-start
    :db/valueType :db.type/long
    :db/cardinality :db.cardinality/one
    :db.install/_attribute :db.part/db}]]
 
 :test
 [[{:db/id #db/id [:db.part/db]
    :db/ident :test.type/fixed-cluster}

   {:db/id #db/id [:db.part/db]
    :db/ident :test.type/linear-cluster}

   {:db/id #db/id [:db.part/db]
    :db/ident :test.type/sine-cluster}
     
   {:db/id #db/id [:db.part/db]
    :db/ident :agent.type/executor}
     
   {:db/id #db/id [:db.part/db]
    :db/ident :action.type/register-peer}
     
   {:db/id #db/id [:db.part/db]
    :db/ident :action.type/unregister-peer}

   {:db/id #db/id [:db.part/db]
    :db/ident :action.type/register-linear-peer}
     
   {:db/id #db/id [:db.part/db]
    :db/ident :action.type/unregister-linear-peer}

   {:db/id #db/id [:db.part/db]
    :db/ident :action.type/register-sine-peer}
     
   {:db/id #db/id [:db.part/db]
    :db/ident :action.type/unregister-sine-peer}]]}

