{:env-config
 {:zookeeper/address "127.0.0.1:2188"
  :zookeeper/server? true
  :zookeeper.server/port 2188}

 :peer-config
 {:zookeeper/address "127.0.0.1:2188"
  :onyx.peer/job-scheduler :onyx.job-scheduler/greedy
  :onyx.peer/storage :s3
  :onyx.peer/storage.s3.bucket "onyx-s3-testing"
  :onyx.peer/storage.s3.region "us-west-2"
  ;:onyx.peer/storage.s3.bucket "onyx-test-us-east-1"
  ;:onyx.peer/storage.s3.bucket "onyx-test-us-east-1"
  ; :onyx.peer/storage.s3.multipart-copy-part-size 1000
  ; :onyx.peer/storage.s3.multipart-upload-threshold 1000
  ; :onyx.peer/storage.s3.accelerate? false
  ;; Increase timeouts for circle ci
  ; :onyx.peer/coordinator-barrier-period-ms 40000
  :onyx.peer/coordinator-barrier-period-ms 1000
  :onyx.peer/subscriber-liveness-timeout-ms 10000
  :onyx.peer/publisher-liveness-timeout-ms 10000
  :onyx.peer/zookeeper-timeout 60000
  :onyx.peer/idle-sleep-ns 5000000
  :onyx.peer/heartbeat-ms 100
  :onyx.messaging.aeron/embedded-driver? true
  ;:onyx.query/server? true
  ;:onyx.query.server/ip "127.0.0.1"
  ;:onyx.query.server/port 8080
  :onyx.messaging/allow-short-circuit? false
  :onyx.messaging/impl :aeron
  :onyx.messaging/peer-port 40199
  :onyx.messaging/bind-addr "localhost"}}
